*{
    box-sizing: border-box;
    margin: 0;  
}

body {
    font-family: 'Montserrat', 'Times New Roman', Times, serif;
}

header,
main,
footer {
    padding: 1em 2em;
}

header{
    background-color: teal;
    color: white;
    text-align: center;
}

.main-title,
.sub-title
.section-title {
    font-family: 'Cantata one', serif;
    letter-spacing: 0.0625;
}

.main-title {
    font-size: 2.5em;
}

.sub-title {
    font-size: 1.75em;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.section-container{
    background-color: white;
    margin: 0 auto 25px;
    max-width: 400px;
}

.section-container>* {
    padding: 10px;
}