*{
    box-sizing: border-box;
    margin: 0;  
}

body {
    font-family: 'Montserrat', 'Times New Roman', Times, serif;
}

header,
main,
footer {
    padding: 1em 2em;
}

header{
    background-color: teal;
    color: white;
    text-align: center;
}