*{
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #887766;
    padding: ;
    color: black;
    border-style: solid;
    border-radius: 20px;
}

main{

}

footer{

}

img{
    width: 100%
}
