*{
    box-sizing: border-box;
    margin: 0;
    
}

header {
    text-align: center;
    background-color:  #887766;
    padding: ;
    color: black;
    border-style: solid;
    border-radius: 20px;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    background-color: white;
    padding: ;
    color: black;
    border-style: solid;
    border-radius: 20px;
    
}

footer{

}

.visual-hierarchy {
    text-align: center;
    background-color: white;
    padding: ;
    color: black;
    border-style: solid;
    border-radius: 20px;
}

img{
    width: 100%
    %
}
