
#article-section-contact{
    background-color: #f3e3bd;
}


.article-title-html h3{
    padding: 1em
}

#article-section-title h4{
    padding-top: 1em;
    padding-left: 2.5em;
}

.resort-info {
    padding: 2em;
}

.resort-img {
    max-width: 100%;
    padding: 2em;
    ;
}

.article-section-contact {
    background-color: #f3e3bd;
    padding: 1em;
    
}

.comment-table{
    padding: 1em;
}

#contact-title-div{
    padding-left: 5em;
}


/* Tours */

.alphabet{

}

#alphabet-div h2{
    padding: 1em;
}
#alphabet-div h4{
   padding-left: 2em;
}

#alphabet-div p{
    padding: 2em;
}

#alphabet-img {
    max-width: 100%;
}
.alphabet-info{

}

/* home */

.summary{
    margin: 1em;
    padding: 1em;
    background-color:#f3e3bd ;
}

.summary-img{
    max-width: 100%;
    padding: 2em;
}