*{
    box-sizing: border-box;
    margin: 0;  
}

body {
    font-family: 'ABeeZee', 'Times New Roman', Times, serif;
}

header, main, footer {
    padding: 1em 2em;
}

header {
    background-color: teal;
    color: white;
    text-align: left;
}

.main-title{
    float: left;
    padding: 10px;
    color: red;
}

.span-class{

}


li {
    display: inline-block;
    padding: 1em;
}
a{
    float: right;
}